*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.form-container{    
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;   
    align-items: center;
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 500px;
    height: 500px;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10vh; 
    color: gainsboro;   
    }

.evento1 {
    width: 300px;
    height: 300px;
    margin-top: 5vh;
    margin-right: 5%;
    margin-left: 5%;
  transition: transform .2s; /* Animation */
  
}
.evento1:hover {
    transform: scale(1.5);
    
}

.evento2{
    width: 300px;
    height: 300px;
    margin-top: 5vh; 
    transition: transform .2s; 
}
.evento2:hover {
    transform: scale(1.5);
}
.evento3{
    width: 300px;
    height: 300px;
    margin-top: 5vh;
    margin-right: 5%;
    margin-left: 5%; 
    transition: transform .2s; 
}
.evento3:hover {
    transform: scale(1.5);}
.evento4{
    width: 300px;
    height: 300px;
    margin-top: 5vh; 
    transition: transform .2s; 
}
.evento4:hover {
    transform: scale(1.5);}

