* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.card-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    width: 80%;
    height: 40vh;
    font-size: 16px;
    margin-top: 2%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 5px -1px rgba(140, 133, 140, 1);
    -moz-box-shadow: 3px 4px 5px -1px rgba(140, 133, 140, 1);
    box-shadow: 3px 4px 5px -1px rgba(140, 133, 140, 1);
}

.reservation-options {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-left: 5%;    
    cursor: pointer;
}

.reservation-options button {
    padding: 3%;
    background-color: #64CCC5;
    height: 50%;
    color: white;
    border:none;
    font-weight: bold;    
    border-radius: 2px;
    cursor: pointer;
}

.card p {
    font-weight: bold;
    margin-left: 5%;
    margin-top: 4%;
}