/* Estilo para el cuerpo del componente Tennis */
.Tennis {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Estilo para el encabezado (h1) */
  .Tennis h1#tenis {
    padding: 10px; 
    background-color: #5FCC7A; 
    color: white;
    margin: 0;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    width: 60%; 
    font-size: 20px;
  }
  
  /* Estilo para el menú de navegación (nav) */
  .Tennis nav#elementos {
    background-color: #5FCC7A; 
    border-bottom: 2px solid white; /* Contorno debajo del nav-bar */
    border-bottom-left-radius: 10px; /* Borde curvo en la esquina inferior izquierda */
    border-bottom-right-radius: 10px; /* Borde curvo en la esquina inferior derecha */
  }
  
  /* Estilo para la lista dentro del menú de navegación (ul) */
  .Tennis ul#element {
    list-style-type: none;
    padding: 0;
    display: flex; /* Hace que la lista sea horizontal */
    justify-content: center; /* Centra horizontalmente los elementos de la lista */
  }
  
  /* Estilo para los elementos de la lista (li) dentro del menú de navegación */
  .Tennis ul#element li {
    margin: 5px 15px; /* Espacio entre los elementos de la lista */
  }
  
  /* Estilo para los enlaces (a) dentro del menú de navegación */
  .Tennis ul#element li a {
    text-decoration: none;
    color: white;
  }
  
  /* Estilo para los enlaces (a) activos en el menú de navegación */
  .Tennis ul#element li a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  
  /* Estilo para las cajas de contenido */
  .Tennis div {
    background-color: white;
    margin: 10px; 
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%; 
    text-align: left; 
  }

   .Tennis #imgtenis{
    width: 40%;
    height: 40%;
    display: block;
    margin: 20px auto auto auto;
  }

  .Tennis #imghistoria{
    margin: 10px auto auto auto;
  }

  .Tennis #imghistoria1{
    height: 200px;
    margin: 10px 100px auto auto;
    
  }

  .Tennis #imgvestim{
    width: 40%;
    height: 40%;
    display: block;
    margin: auto auto auto auto;
   }

   .Tennis #imgcancha{
     transform: rotate(90deg);
     display: block; 
     margin: -180px auto 180px auto; 
   }